<section id="section404">
    <link rel="stylesheet" href="/css/404.css">
   
    <img id="img404" src="/images/404.jpg" alt="404">
     <div  class="container">
        <h1>404</h1>
        <h3>La ruta que intentas acceder no existe</h3>
        <a href="/">Volver al inicio</a>
    </div>
</section>
