<section id="section404">
   
    <img id="img404" src="/images/404.jpg" alt="404">
     <div  class="container">
        <h1>404</h1>
        <h3>La ruta que intentas acceder no existe</h3>
        <a href="/">Volver al inicio</a>
    </div>
</section>
<style>
#section404{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    }
    #img404{
        width: 80vh;
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>