<section id="admin"> 
    <link rel="stylesheet" href="/css/adminView.css">

    <div>
        <H1>Bienvenido a la vista de admin</H1>
        <p>aqui estan todas las vistas</p>
        <a href="/admin/users">Ver todos los usuarios</a>
        <a href="/products/ownerproducts">Ver Todos los productos</a>
    </div>
</section>