<section id="admin"> 

    <div>
        <H1>Bienvenido a la vista de admin</H1>
        <p>aqui estan todas las vistas</p>
        <a href="/admin/users">Ver todos los usuarios</a>
    </div>
</section>