<div class="authFail">
    <link rel="stylesheet" href="/css/authfail.css">
    <h1 class="authFail">Ups!!</h1>

    <h4 class="authFail">hubo un error al verificar tu session</h4>
    <a class="authFail" href="/login">Intentar de nuevo</a>
</div>