<section id="cambios">
    <h1> para ver los cambios de tu cuenta debes volver a iniciar Sesión</h1>
    <a href="/login">Iniciar sesion</a>
</section>
<style>
    #cambios {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cambios h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#cambios a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#cambios a:hover {
    background-color: #0056b3;
}
</style>