<section id="cambios">
    <link rel="stylesheet" href="/css/cambios.css">
    <h1> para ver los cambios de tu cuenta debes volver a iniciar Sesión</h1>
    <a href="/login">Iniciar sesion</a>
</section>
