<section id="chat">
  <link rel="stylesheet" href="/css/chat.css">
  <div id="chat-modal">
    <h1>global:</h1>
    <ul id="lista-mensajes" style="">
    </ul>
  </div>
  <form id="messagesForm">
    <input type="text" id="messageInput" name="message" placeholder="message" required>
    <button type="submit" id="button">Enviar</button>
  </form>
  <p id="user" class="hidden">{{user.email}}</p>
</section>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
 
        socket.on('Chat', (messages) => {
        
        const listaMensajes = document.getElementById('lista-mensajes');
        
        listaMensajes.innerHTML = '';
        
            messages.forEach(messages => {
            const card = document.createElement('div');
            card.classList.add('card');


            const user = document.createElement('h5');
            user.textContent = messages.user;

            const message = document.createElement('p');
            message.textContent = messages.message;
            // Agrega elementos a la tarjeta
            card.appendChild(user);
            card.appendChild(message);
    
            // Agrega la tarjeta a la lista de productos
            listaMensajes.appendChild(card);
        });
        });

        document.getElementById("messagesForm").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevenir el envío del formulario

      // Obtener los valores de los campos del formulario
      const user = document.getElementById("user").textContent;
      const message = document.getElementById("messageInput").value;
      
      const messageSent = {
        user: user,
        message: message,
      };
      
        socket.emit('newChat',messageSent);
          messageInput.value = "";

    });
    </script>
</div>