<section id="forgot-password">
    <link rel="stylesheet" href="/css/forgot-password.css">
    {{#if error}}
    <div class="Error-custom">
        <Span class="Error-span">El enlace de restablecer contraseña, expiró</Span>
         <button class="close"   >X</button>
         </div>
    {{/if}}
    <div class="forgot-password">
        <h1>¿Olvidaste Tu contraseña?</h1>
        <p>Ingresa tu correo y te enviaremos un enlace para restablecerla</p>
        <form id="forgotPasswordForm" action="/api/session/forgot-password" method="post">
            <label for="emailInput">Email:</label>
            <input type="email" id="emailInput" name="email" placeholder="TuEmail@example.com" required>
            <button type="submit">Restablecer Contraseña</button>
        </form>
    </div>
    {{#if message}}
    <div class="message">
         {{message}}
         </div>
    {{/if}}
</section>
<script>
const closeButton = document.querySelector('.Error-custom .close');
const errorDiv = document.querySelector('.Error-custom');

// Agregar un event listener para el click en el botón
closeButton.addEventListener('click', function() {
    // Agregar la clase 'hidden' al div
    errorDiv.classList.add('hidden');
});
</script>