<div class="div">
  <link rel="stylesheet" href="/css/index.css">
    <h1>Bienvendio a mi api</h1>
    {{#if user.first_name}}
          <h2>hola {{user.first_name}} {{user.last_name}}</h2>
        {{else}}
          <p style='margin: 10px 0;'>Parece que no tienes sesion iniciada, <a href="/login">Inicia sesion</a> o <a href="/register">Registrate</a></p>
        {{/if}}
    <p class="padding-10" >¿Eres developer? mira la <a href="/docs">documentacion</a></p>
</div>