<section id="reset-password">
<div class="reset-password">
    <h1>Reset Password</h1>
    {{#if error}}
    <div class="Error-custom">
         {{error}}
         <button class="close"   >X</button>
         </div>
    {{/if}}
    <form id="resetPasswordForm" action="/api/session/reset-password/{{id}}/{{code}}" method="post" onsubmit="return validarFormulario()">
        <label for="passwordInput">Nueva Contraseña:</label>
        <input type="password" id="passwordInput" name="password" placeholder="Contraseña" required>
        <label for="confirmPasswordInput">Confirmar Contraseña:</label>
        <input type="password" id="confirmPasswordInput" name="confirm_password" placeholder="Confirmar Contraseña" required>
        <span id="mensajeError" class="error"></span>
        <button type="submit">Reset Password</button>
    </form>
</div>
</section>

<style>
    #reset-password {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    #mensajeError{
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .close{
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
    }
    .Error-custom{
        background-color: rgba(255, 0, 0, 0.801);
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hidden{
        display: none;
    }
    
    .reset-password {
       
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        text-align: center;
        color: #333;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }
    
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .error {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    button[type="submit"] {
        width: 100%;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    button[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
<script>
function validarFormulario() {
    var password = document.getElementById("passwordInput").value;
    var confirm_password = document.getElementById("confirmPasswordInput").value;

    if (password !== confirm_password) {
        document.getElementById("mensajeError").innerHTML = "Las contraseñas no coinciden";
        return false; // Detiene el envío del formulario
    } else {
        document.getElementById("mensajeError").innerHTML = "";
        return true; // Permite el envío del formulario
    }
    
}

const closeButton = document.querySelector('.Error-custom .close');
const errorDiv = document.querySelector('.Error-custom');

// Agregar un event listener para el click en el botón
closeButton.addEventListener('click', function() {
    // Agregar la clase 'hidden' al div
    errorDiv.classList.add('hidden');
});
</script>