<section id="reset-password">
    <link rel="stylesheet" href="/css/reset-password.css">
    <div class="reset-password">
    <h1>Reset Password</h1>
    {{#if error}}
    <div class="Error-custom">
         {{error}}
         <button class="close"   >X</button>
         </div>
    {{/if}}
    <form id="resetPasswordForm" action="/api/session/reset-password/{{id}}/{{code}}" method="post" onsubmit="return validarFormulario()">
        <label for="passwordInput">Nueva Contraseña:</label>
        <input type="password" id="passwordInput" name="password" placeholder="Contraseña" required>
        <label for="confirmPasswordInput">Confirmar Contraseña:</label>
        <input type="password" id="confirmPasswordInput" name="confirm_password" placeholder="Confirmar Contraseña" required>
        <span id="mensajeError" class="error"></span>
        <button type="submit">Reset Password</button>
    </form>
</div>
</section>
<script>
function validarFormulario() {
    var password = document.getElementById("passwordInput").value;
    var confirm_password = document.getElementById("confirmPasswordInput").value;

    if (password !== confirm_password) {
        document.getElementById("mensajeError").innerHTML = "Las contraseñas no coinciden";
        return false; // Detiene el envío del formulario
    } else {
        document.getElementById("mensajeError").innerHTML = "";
        return true; // Permite el envío del formulario
    }
    
}

const closeButton = document.querySelector('.Error-custom .close');
const errorDiv = document.querySelector('.Error-custom');

// Agregar un event listener para el click en el botón
closeButton.addEventListener('click', function() {
    // Agregar la clase 'hidden' al div
    errorDiv.classList.add('hidden');
});
</script>