#section404 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
#img404 {
  width: 80vh;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
