.back {
  position: absolute;
  top: 7%;
  left: 20px;
  text-decoration: none;
  width: 10px;
  height: 10px;

  font-weight: bold;
  font-size: 1.2rem;
}

#productView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 75vh;
}
.img-product {
  max-width: 250px;
  max-height: 250px;
}
.arrow {
  width: 20px;
  height: auto;
}

#custom-alert {
  width: 15vw;
  display: none;
  position: absolute;
  padding: 20px;
  top: 10vh;
  background-color: aquamarine;
  right: 20px;
  border-radius: 5px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}
.check {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
#waiting-alert {
  width: 15vw;
  display: none;
  position: absolute;
  padding: 20px;
  top: 10vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  right: 20px;
  border-radius: 5px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}
#owner-alert {
  width: 15vw;
  background-color: rgb(255, 242, 67);
  color: #000000;
  display: none;
  position: absolute;
  padding: 20px;
  top: 10vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  right: 20px;
  border-radius: 5px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}
.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
