<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/elderStrap.css" />
    <title>Elder Api</title>
  </head>
  <body>
   <header id="header">
  <ul id="ulheader">
    {{#if user.rol}}
      <li class="li-header"><a href="/">Home</a></li>
      <li class="li-header"><a href="/products">Productos</a></li>
      <li class="li-header"><a href="/current">Current</a></li>
      <li class="li-header"><a href="/cart/{{user.cartId}}">Carrito</a></li>
      <li class="li-header dropdown">
        
        <a href="/premium">Premium</a>
        <div class="dropdown-content">
          <a href="/chat">Chat</a>
          <a href="/products/add">Agregar Producto</a>
          <a href="/manage-product">Borrar Producto</a>
        </div>
      </li>
      <li class="li-header"><a href="/admin">Admin</a></li>  
     
      <li class="li-header"><a href="/api/session/logout">Cerrar Sesión</a></li>
    {{else}}
      <li class="li-header"><a href="/">Home</a></li>
      <li class="li-header"><a href="/login">Iniciar Sesión</a></li>
      <li class="li-header"><a href="/register">Regístrate</a></li>
    {{/if}}
  </ul>
</header>
    {{{body}}}
  </body>

</html>